@import 'vars';

/*
  Basic buttons
  */

.basic {
  color: $basic-button-bgcolor;
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.basic-hover:hover {
  color: $basic-button-textcolor;
  background-color: $basic-button-bgcolor;
  border-color: $basic-button-bgcolor;
  cursor: pointer;
}

.basic-fill {
  color: $basic-button-textcolor;
  background-color: $basic-button-bgcolor;
  border-color: $basic-button-bgcolor;
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.basic-fill-hover:hover {
  color: $basic-button-bgcolor;
  background-color: transparent;
  border-color: $basic-button-bgcolor;
  cursor: pointer;
}
