/*
  Basic buttons
  */

.basic {
  color: rgb(38, 155, 209);
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.basic:hover {
  color: white;
  background-color: rgb(38, 155, 209);
  border-color: rgb(38, 155, 209);
  cursor: pointer;
}

.basic-fill {
  color: white;
  background-color: rgb(38, 155, 209);
  border-color: rgb(38, 155, 209);
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.basic-fill:hover {
  color: rgb(38, 155, 209);
  background-color: transparent;
  border-color: rgb(38, 155, 209);
  cursor: pointer;
}
