/*
  Basic buttons
  */
.basic {
  color: #269bd1;
  -webkit-transition: background-color 0.1s;
  /* Safari */
  transition: background-color 0.1s; }

.basic:hover {
  color: white;
  background-color: #269bd1;
  border-color: #269bd1;
  cursor: pointer; }

.basic-fill {
  color: white;
  background-color: #269bd1;
  border-color: #269bd1;
  -webkit-transition: background-color 0.1s;
  /* Safari */
  transition: background-color 0.1s; }

.basic-fill:hover {
  color: #269bd1;
  background-color: transparent;
  border-color: #269bd1;
  cursor: pointer; }
