.btn {
  height: 40px;
  min-width: 80px;
  font-size: 11pt;
  border-radius: 5px;
  border: 1px solid;
  background-color: transparent;
}

.fullWidth {
  width: 100%;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.2;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.btn[disabled]:hover {
  cursor: default;
}
