@import "vars";

.btn {
  height: $button-height;
  padding-left: $button-padding-left-right;
  padding-right: $button-padding-left-right;
  font-size: $button-font-size;
  border-radius: $button-border-radius;
  border: 1px solid;
  background-color: transparent;

  @if $button-text-uppercase {
    text-transform: uppercase;
  }

  color: $button-text-color;
}

.fullWidth {
  width: 100%;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.2;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.btn[disabled]:hover {
  cursor: default;
}
