@import 'vars';

/*
  Danger buttons
  */

.danger {
  color: $danger-button-bgcolor;
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.danger-hover:hover {
  color: $danger-button-textcolor;
  background-color: $danger-button-bgcolor;
  border-color: $danger-button-bgcolor;
  cursor: pointer;
}

.danger-fill {
  color: $danger-button-textcolor;
  background-color: $danger-button-bgcolor;
  border-color: $danger-button-bgcolor;
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.danger-fill-hover:hover {
  color: $danger-button-bgcolor;
  background-color: transparent;
  border-color: $danger-button-bgcolor;
  cursor: pointer;
}
