@import "vars";

.success {
  color: $success-button-bgcolor;
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.success-hover:hover {
  color: $success-button-textcolor;
  background-color: $success-button-bgcolor;
  border-color: $success-button-bgcolor;
  cursor: pointer;
}

.success-fill {
  color: $success-button-textcolor;
  background-color: $success-button-bgcolor;
  border-color: $success-button-bgcolor;
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.success-fill-hover:hover {
  color: $success-button-textcolor;
  background-color: $success-button-fill-hover-bgcolor;
  border-color: $success-button-bgcolor;
  cursor: pointer;
}
