/* Success buttons */
.success {
  color: green;
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.success:hover {
  color: white;
  background-color: green;
  border-color: green;
  cursor: pointer;
}

.success-fill {
  color: white;
  background-color: green;
  border-color: green;
  -webkit-transition: background-color 0.1s; /* Safari */
  transition: background-color 0.1s;
}

.success-fill:hover {
  color: green;
  background-color: transparent;
  border-color: green;
  cursor: pointer;
}
