.topBalanceUsers {
  padding: 15px;
  display: inline-block;
  font-family: Arial;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}

.topBalanceUsers-header {
  width: 100%;
  font-weight: bold;
  font-size: 16pt;
}

.topBalanceUsersTable {
  margin-top: 10px;
  width: 100%;
}

.topBalanceUsersTable tr {
  margin-top: 2px;
  margin-bottom: 2px;
}