@import "vars";

.loader {
  border: 2px solid transparent;
  border-top: $loader-width solid $loader-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
