.product-popup {
  background: #fff;
  width: 710px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

  button {
    outline: none;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1em;
  }

  .product-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    button {
      padding: 12px;
      width: 30%;
      color: #fff;
      font-size: 1.1em;
    }

    .cancel-btn {
      background: rgb(209, 66, 66);
    }

    .purchase-btn {
      background: rgb(95, 161, 41);
    }
  }
  
  .product-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .product-name {
      width: 100%;
      font-size: 1.5em;
    }
  }

  .product-quantity {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .quantity-picker {
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        outline: none;
        border: none;
        -webkit-appearance: none;
        background: #ddd;
        width: 46px;
        height: 46px;
        line-height: 1em;
        font-size: 1.5em;
        font-weight: normal;
        color: #000;
        transition: transform 0.1s ease-in-out;
      }

      button:active {
        color: #000;
        transform: scale(0.8);
      }

      span {
        display: inline-block;
        width: 80px;
        text-align: center;
        font-size: 1.3em;
      }
    }

    .total {
      margin-left: auto;
      color: #777;
      text-align: right;

      .sum {
        color: #000;
        margin-top: 5px;
        font-size: 1.8em;
        font-weight: bold;
      }
    }
  }
}
