@import "vars";

.form {
  padding: 0 0 20px 0;
  margin-top: 20px;
  display: inline-block;
  font-family: $base-font;
  width: 100%;
  color: $container-text-color;
  background-color: $container-background-color;
  overflow: hidden;

  a {
    color: rgb(83, 83, 38);
  }

  button {
    font-size: 1em;
  }
}

.form-shadow {
  border-radius: $base-border-radius;

  @if $login-form-box-shadow {
    box-shadow: $box-shadow;
  }
}

.form legend {
  display: block;
  font-weight: normal;
  font-size: 1.3em;
  background: #fc3;
  width: 100%;
  text-align: left;
  padding: 16px;
}

.input {
  height: $input-height;
  min-width: 80px;
  font-size: $input-font-size;
  border-radius: $input-border-radius;
  border: 1px solid $input-border-color;
  color: $input-text-color;
  background-color: transparent;
  text-align: center;

  @if $input-box-shadow {
    box-shadow: $box_shadow;
  }
}

.fullWidth {
  width: 100%;
}

.input:disabled {
  opacity: 0.2;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.input::placeholder {
  font-size: $input-placeholder-font-size;
  color: $input-placeholder-color;
}

.input:disabled::placeholder {
  color: grey;
}

.input[disabled]:hover {
  cursor: default;
}

.input:focus {
  outline: 0;
}

.formLabel {
  text-align: left;
}

.formControl {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 16px;
  text-align: center;

  label {
    display: block;
  }
}

.formControl:first-child {
  margin-top: 5px;
}

.formControl:last-child {
  margin-bottom: "0px";
}
