.notification-enter {
  opacity: 0.01;
}

.notification-enter.notification-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.notification-leave {
  opacity: 1;
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
