@import "vars";

html,
body {
  background-color: $body-background-color;
  color: $body-font-color;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;

  .pages {
    width: 100%;
    height: 100%;
  }

  .mainpage {
    width: 100%;
    height: 100%;
  }
}
