@import 'vars';

.confirm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.confirm {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 70%;
  z-index: 20;
  color: black;
  text-align: center;
  font-size: 20pt;
  left: calc((100% - 70%) / 2);
  top: calc((100% - 70%) / 2);
  background-color: white;
  box-shadow: $box-shadow
}
