main {
  margin-top: 15px;
  width: 100%;
  height: calc(100% - 90px);
  display: block;
  box-sizing: border-box;
  padding: 0 16px;
  
  .products-container {
    height: 75%;
  }

  .terminal-container {
    height: 25%;
  }
}
