@import "vars";

.featured-products {
  background: $container-background-color;
  color: $container-text-color;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow;
  height: 100%;
  overflow: hidden;

  .featured-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65px;

    h2 {
      font-size: 1.3em;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.7);
      background: #fc3;
      height: 100%;
      padding: 22px 16px;
      box-sizing: border-box;
      width: 100%;
    }
  }

  .loader {
    margin-top: 50px;
    border-top-color: #777;
  }

  ul {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 65px);
    padding-top: 16px;
    box-sizing: border-box;

    li {
      display: block;
      padding: 0 16px 16px 16px;

      a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgb(230, 230, 230);
        border-radius: 3px;
        padding: 22px 16px;
        font-size: 1em;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        text-decoration: none;
        cursor: pointer;
        color: #000;
        transition: transform 0.2s ease-in-out;

        &:active {
          color: #000;
          transform: scale(0.9);
        }

        &:focus {
          outline: 0;
        }

        .featured-price {
          font-weight: bold;
          text-align: right;
          font-size: 1.1em;
        }
      }
    }
  }
}
