@import 'vars';

header {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  background-color: $header-bgcolor;
  box-shadow: $box-shadow;
}

.header-left {
  width: 50%;
  float: left;
  text-align: left;
}

.header-right {
  width: 50%;
  float: right;
  text-align: right;
}
