@import 'vars';

header {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: $header-bgcolor;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0 16px;
  }
}

.header-right {
  margin-left: auto;
}
